/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .toggle-menu {
    display: none;
  }

  .menu-drawer .show-on-mobile {
    display: none;
  }
}

/* Tablet and mobile */
@media screen and (max-width: 991px) {
  .navbar {
    position: relative;
  }

  .navbar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .navbar ul {
    display: none;
  }

  .toggle-menu svg {
    width: 24px;
    color: #666;
  }

  .menu-overlay {
    position: fixed;
    z-index: 1;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    z-index: 2;
    padding: 60px;
    background: white;
    translate: -100%;
    transition: 0.5s ease;
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    display: block;
    padding: 14px 0;
    color: #333;
    font-weight: 500;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    translate: 0;
  }

  .menu-drawer .show-on-mobile {
    display: none;
  }

  .hero-img {
    display: none;
  }

  .hero-wrap .info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-wrap .desc {
    width: 80%;
    margin: 0 auto auto;
  }

  .clients .images {
    flex-wrap: wrap;
    justify-content: center;
  }

  .guide-item {
    margin: 0;
    flex: 1;
  }

  .featured .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 70px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu-drawer .show-on-mobile {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 40px;
  }

  .navbar .action {
    display: none;
  }

  .menu-drawer .show-on-mobile {
    display: block;
  }
}
